In [3]:
pip install psycopg2

Requirement already satisfied: psycopg2 in d:\guvi\singapore  resale flat prices predicting\.venv\lib\site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import psycopg2

# Connect to the PostgreSQL database
try:
    mydb = psycopg2.connect(
        host='localhost',
        user='postgres',
        password='123456',
        database='sql',
        port=5432
    )
    cursor = mydb.cursor()
    
    # Create the EMPLOYEES table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS EMPLOYEES (
        EMP_ID INT PRIMARY KEY,
        EMP_NAME VARCHAR(50),
        SALARY NUMERIC(10, 2)
    )
    ''')
    
    # Insert multiple rows into the EMPLOYEES table
    cursor.executemany('''
    INSERT INTO EMPLOYEES (EMP_ID, EMP_NAME, SALARY) VALUES (%s, %s, %s)
    ''', [
        (1, 'John Doe', 55000.00),
        (2, 'Jane Smith', 65000.00),
        (3, 'Alice Johnson', 70000.00),
        (4, 'Robert Brown', 50000.00),
        (5, 'Emily Davis', 72000.00)
    ])
    
    # Commit the changes and close the connection
    mydb.commit()
    cursor.close()
    mydb.close()
    print("Data inserted successfully")

except Exception as e:
    print("Error: ", e)

Data inserted successfully

In [16]:

mydb = psycopg2.connect(
    host='localhost',
    user='postgres',
    password='123456',
    database='sql',
    port=5432
)
cursor = mydb.cursor()

In [17]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS DEPT (
        DEP_ID INT PRIMARY KEY,
        DEPT_NAME VARCHAR(50),
        EMP_ID INT
    )
    ''')
    
    # Commit the changes and close the connection
mydb.commit()

print("Table created successfully")

Table created successfully

In [18]:
cursor.executemany('''
INSERT INTO DEPT(DEP_ID,DEPT_NAME,EMP_ID) VALUES (%s,%s,%s)''',
[
    (10,'base',1),
    (20,'movie',2),
    (30,'swim',3),
    (40,'run',4),
    (50,'bat',5)
    
])
mydb.commit()
cursor.close()
mydb.close()

In [35]:
mydb = psycopg2.connect(
    host='localhost',
    user='postgres',
    password='123456',
    database='sql',
    port=5432
)
cursor = mydb.cursor()

In [22]:
cursor.execute("SELECT * FROM EMPLOYEES;")
employees=cursor.fetchall()
for emp in employees:
    print(emp)

(1, 'John Doe', Decimal('55000.00'))
(2, 'Jane Smith', Decimal('65000.00'))
(3, 'Alice Johnson', Decimal('70000.00'))
(4, 'Robert Brown', Decimal('50000.00'))
(5, 'Emily Davis', Decimal('72000.00'))

In [23]:
cursor.execute("SELECT * FROM DEPT;")
dept=cursor.fetchall()
for dep in dept:
    print(dep)

(10, 'base', 1)
(20, 'movie', 2)
(30, 'swim', 3)
(40, 'run', 4)
(50, 'bat', 5)

Find the employee  salary decending order

In [27]:
cursor.execute("SELECT EMP_NAME,SALARY FROM EMPLOYEES ORDER BY SALARY DESC")
desc=cursor.fetchall()

print(desc)

[('Emily Davis', Decimal('72000.00')), ('Alice Johnson', Decimal('70000.00')), ('Jane Smith', Decimal('65000.00')), ('John Doe', Decimal('55000.00')), ('Robert Brown', Decimal('50000.00'))]

Find the employee with the highest salary

In [28]:
cursor.execute("SELECT EMP_NAME,SALARY FROM EMPLOYEES ORDER BY SALARY DESC LIMIT 1")
high_salary=cursor.fetchone()
print(high_salary)

('Emily Davis', Decimal('72000.00'))

Count the number of employees

In [36]:
cursor.execute("SELECT COUNT(*) FROM EMPLOYEES")
no_of_emp=cursor.fetchone()
print(no_of_emp)

(5,)

List all employees and their corresponding departments

In [ ]:
cursor.execute("")